body
{
  font-family: Helvetica, monospace;
  font-size: 24px;
}
input[type = text]
{
  height: 40px;

  padding: 5px 10px;

  font-family: Helvetica, monospace;
  font-size: 24px;

  text-align: center;
}
h1
{
  font-size: 32px;
  text-align: center;
}